.myMui{
    background-color: purple;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
    width: 70%;
}

.flex_start{
    display: flex;
    justify-content: space-evenly;
}

.left_box{
    flex-grow: 10; /* default 0 */
    /*background-color: cornflowerblue;*/

}

.right_box{
    flex-grow: 1; /* default 0 */
    display: block;

}



.Field_Look{
    width: 100%;
    max-height: 100%;
    max-width: 100%;
}
